﻿
@model IEnumerable<WebAppSiyakha.Models.Item>
@{
    ViewBag.Title = "Shopping";
    if (ViewBag.Department != null)
    {
        ViewBag.Title = ViewBag.Department.ToString();
    }
}
<h2 class="title text-center"> @ViewBag.Title </h2>
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-sm-3">
            <div class="product-image-wrapper">
                <div class="single-products">
                    <div class="productinfo text-center">
                        @if (item.Picture != null)
                        {
                            var base64 = Convert.ToBase64String(inArray: item.Picture);
                            var imgSrc = string.Format(format: "data:image/gif;base64,{0}", arg0: base64);
                            <img src=@imgSrc width="200" height="249" />
                       }
                        <h2>@Html.DisplayFor(expression: modelItem => item.Price)</h2>
                        <p>
                            <a href="@Url.Action("Details","Items", new { id=item.ItemCode })" rel="tooltip" title="View" style="color:black;">
                                <b>
                                    @Html.DisplayFor(expression: modelItem => item.Name)
                                </b>
                            </a>
                        </p>
                        @if (item.QuantityInStock == 0)
                        {
                            <a href="@Url.Action(actionName: "add_to_cart", controllerName: "Shopping", routeValues: new {id = item.ItemCode})" class="btn disabled btn-default"><i class="fa fa-shopping-cart disabled"></i> Out of stock</a>
                        }
                        else
                        {
                            <a href="@Url.Action(actionName: "add_to_cart", controllerName: "Shopping", routeValues: new {id = item.ItemCode})" class="btn btn-default"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                        }
                    </div>
                    <br />
                    <br />
                </div>
            </div>
        </div>
    }
</div>

@if (ViewBag.Err != null)
{

}