﻿@model WebAppSiyakha.Models.OrderDetailConFirm


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Payment";


}

<h2 class="title text-center">Order Details </h2>

<div class="row">
    <div class="col-md-4">
        <b>Account Details</b>
        @*@{ Data.ApplicationUser Account = (Data.ApplicationUser)ViewBag.Account; }*@

        <table class="table">
            <tr>
                <td>Name</td>
                <td>@Model.order.FirstName   @Model.order.LastName</td>
            </tr>
            @*<tr>
                <td>Cell Number</td>
                <td>@Model.order.customer.PhoneNumber</td>
            </tr>*@
            <tr>
                <td>Email</td>
                <td>@Model.order.Email</td>
            </tr>
        </table>
    </div>
    <div class="col-md-6">

        <b>Order Details</b>
        @*@{ Data.ShoppingCartM.Order order = (Data.ShoppingCartM.Order)ViewBag.Order; }*@

        <table class="table">
            <tr>
                <td>Order No.</td>
                <td>@Model.order.OrderNo</td>
            </tr>
            <tr>
                <td>Status</td>
                <td>@Model.order.status</td>
            </tr>

        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-4">

        <b>Shipping Details</b>
        @{ WebAppSiyakha.Models.OrderAddress address = (WebAppSiyakha.Models.OrderAddress)ViewBag.Address; }
        @if (address != null)
        {
            <table class="table">
                <tr>
                    <td>Street</td>
                    <td>@Model.address.street</td>
                </tr>
                <tr>
                    <td>City/Town</td>
                    <td>@Model.address.city</td>
                </tr>
                <tr>
                    <td>Zipcode</td>
                    <td>@Model.address.zipcode</td>
                </tr>
            </table>
        }
        else
        {
            <hr />
            <p>
                <b> Collect your order at our Company.</b>
                <br />
                <i class="fa fa-map-marker"></i>  21 May St, Durban, 4001
                <br />
                <i class="fa fa-clock-o"></i>  8:30 am - 17:00 working hours
                <br />
            </p>
        }

    </div>
    <div class="col-md-8">

        <b>Items in this Order</b>
        <table class="table">
            <tr>
                <th>
                    Picture
                </th>
                <th>
                    Item
                </th>
                <th>
                    Qty
                </th>
                <th>
                    Price
                </th>
            </tr>

            @foreach (var item in (List<WebAppSiyakha.Models.OrderItem>)ViewBag.Items)
            {
                <tr>
                    <td>
                        @if (item.Item.Picture != null)
                        {
                            var base64 = Convert.ToBase64String(inArray: item.Item.Picture);
                            var imgSrc = string.Format(format: "data:image/gif;base64,{0}", arg0: base64);
                            <img src=@imgSrc width="60" height="70" />
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.quantity)
                    </td>
                    <td>
                        R @Html.DisplayFor(modelItem => item.price)
                    </td>
             </tr>
            }

            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <b>R @Model.order.TotalPrice</b>
                </td>
            </tr>
            <tr>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                    @*<a href="@Url.Action("OrderThankYou", "Home")" class="btn btn-success"><i class="fa fa-lock"></i> Done</a>*@
                   @* <a href="@Url.Action("Secure_Payment", "Shopping", new { id = Model.order.OrderNo})" class="btn btn-success"><i class="fa fa-lock"></i> Secure Payment</a>*@
                    <a href="@Url.Action("CreatePdf", "PDF")" class="btn btn-success"><i class="fa fa-lock"></i> Send Details</a>

                </td>
            </tr>
        </table>

    </div>


</div>
