﻿@model List< WebAppSiyakha.Models.CartItem >
@{
    ViewBag.Title = "Shopping Cart";
}
<h2 class="title text-center">@ViewBag.Title</h2>
<link href="~/Content/ShoppingCartIndex.css" rel="stylesheet" />

@using (Html.BeginForm())
{

    <div class="container">
        <div class="card shopping-cart">
            <div class="card-header bg-dark text-light">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                Shopping cart
                <a href="@Url.Action("Index", "Shopping")" class="btn btn-outline-info btn-sm pull-right"><i class="fa fa-arrow-left"></i> Continue shopping</a>
                <div class="clearfix"></div>
            </div>
            <div class="card-body">
                @for (int item = 0; item < Model.Count(); item++)
                {
                   
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-2 text-center">

                            @if (Model[item].Item.Picture != null)
                            {
                                var base64 = Convert.ToBase64String(inArray: Model[item].Item.Picture);
                                var imgSrc = string.Format(format: "data:image/gif;base64,{0}", arg0: base64);
                                <img class="img-responsive" src=@imgSrc width="120" height="80" />
                            }

                          
                        </div>
                        <div class="col-12 text-sm-center col-sm-12 text-md-left col-md-6">
                            <h4 class="product-name"><strong>@Html.DisplayFor(modelItem => Model[item].Item.Name)</strong></h4>
                            <h4>
                                <small>@Html.DisplayFor(modelItem => Model[item].Item.Description)</small>
                            </h4>
                        </div>
                        <div class="col-12 col-sm-12 text-sm-center col-md-4 text-md-right row">
                            <div class="col-3 col-sm-3 col-md-6 text-md-right" style="padding-top: 5px">
                                <h6><strong>@Model[item].price.ToString("R 0.00") <span class="text-muted">x</span></strong></h6>
                            </div>
                            <div class="col-4 col-sm-4 col-md-4">
                                <div class="quantity">
                                    <a href="@Url.Action("increaseItemQuantity", "Shopping",new { Id= Model[item].Id })"> <input type="button" value="+" class="plus"></a>

                                    @Html.EditorFor(modelItem => Model[item].quantity, new { htmlAttributes = new { @disabled = "disabled", @size = "4", @class = "qty", @style = "width:100px" } })
      
                                    <a href="@Url.Action("decreaseItemQuantity", "Shopping",new { Id= Model[item].Id })"> <input type="button" value="-" class="minus"></a>
                                   
                                </div>
                            </div>
                            <div class="col-2 col-sm-2 col-md-2 text-right">
                                <a class="btn btn-outline-danger btn-xs" href="@Url.Action("remove_from_cart", "Shopping")"><i class="fa fa-trash" aria-hidden="true"></i></a>
                              
                            </div>
                        </div>
                    </div>
                    <hr>
                   
                }
            <div class="pull-right">
                @if (Model.Count() == 0)
                {
                    <a href="" class="btn btn-outline-danger pull-right disabled">
                        <i class="fa fa-trash" aria-hidden="true"></i>  Empty Cart
                    </a>
                }
                else
                {
                    <a href="@Url.Action("EmptyCart","Shopping")" class="btn btn-outline-danger pull-right ">
                        <i class="fa fa-trash" aria-hidden="true"></i> Empty Cart
                    </a>
                }

                <div class="pull-right" style="margin: 10px">
                    Total Items: <b> @ViewBag.TotalQTY</b>
                </div>
            </div>
            </div>
            <div class="card-footer">
               
                <div class="pull-right" style="margin: 10px">
                    @if (Model.Count() == 0)
                    {
                        <a href="@Url.Action("Checkout", "Shopping")" class="btn btn-success pull-right disabled"> <i class="fa fa-lock"></i> Checkout</a>
                    }
                    else
                    {

                        <a href="@Url.Action("Checkout", "Shopping")" class="btn btn-success pull-right"> <i class="fa fa-lock"></i> Checkout</a>
                    }
                    <div class="pull-right" style="margin: 5px">
                        Total price: <b> @ViewBag.Total.ToString("R 0.00")</b>
                    </div>
                </div>
            </div>
        </div>
    </div>

}