﻿@model WebAppSiyakha.Models.Department

@{
    ViewBag.Title = "Department Manager";
    //Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
    <h2 class="title">Edit Dcategory</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="row">
        <table class="table">
            <tr>
                <th>@Html.LabelFor(model => model.Department_ID)</th>
                <td>
                    @Html.EditorFor(model => model.Department_ID, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.Department_ID, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <th>@Html.LabelFor(model => model.Department_Name)</th>
                <td>
                    @Html.EditorFor(model => model.Department_Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Department_Name, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <th>@Html.LabelFor(model => model.Description)</th>
                <td>
                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>
                    <div class="kt-portlet__foot">
                        <div class="kt-form__actions">
                            <div class="row">
                                <div class="col-lg-6">
                                    <button type="submit" class="btn btn-success">Save Changes</button>
                                    <a type="reset" href="@Url.Action("Index",controllerName : "Departments")" class="btn btn-secondary">Cancel</a>
                                </div>

                            </div>
                        </div>
                    </div>
                </td>
               
            </tr>
        </table>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

