﻿@model IEnumerable<WebAppSiyakha.Models.Manual>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PdfName)
        </th>
      
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PdfName)
        </td>
        <td>
            <div class="btn-group">
                <a class="btn btn-default" href="@Url.Action("OpenPDFIdDoc", "Manuals", new { id=item.Id },null)">
                    <span class="icon_lightbulb_alt"></span>
                    View Pdf
                </a>
            </div>
        </td>
    </tr>
}

</table>
