﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/toastr")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .navbar-inverse {
            background-color: #000000 !important;
        }
    </style>
</head>
@{ var department_Service = new WebAppSiyakha.Models.Business.DepartmentBusiness();

    var cart_Service = new WebAppSiyakha.Models.Business.CartBusiness();
    double total = 0; }
<body>
    <div class="navbar navbar-inverse navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("No Name", "Index", "Shopping", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Shopping")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("User Manual", "Index", "Manuals")</li>
                    <li>@Html.ActionLink("Categories", "Index", "Departments")</li>
                    <li>@Html.ActionLink("Manage Products", "Index", "Items")</li>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle active" id="navbardropdown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <i class="fa fa-shopping-cart" style="font-size:24px" aria-hidden="true"></i>  (@Html.Action(actionName: "countCartItems", controllerName: "Shopping"))<span class="caret"></span></a>
                        <ul class="dropdown-menu mega">
                            <ul class="sub-menu">
                                <table class="table">
                                    <tr class="card-header bg-dark text-light">
                                        <th>Item</th>
                                        <th>
                                        </th>
                                        <th style="text-align:center">
                                            Quantity
                                        </th>
                                        <th>
                                            Price
                                        </th>
                                        <th style="text-align:center">
                                            Sub-Total
                                        </th>
                                    </tr>
                                    @if (cart_Service.GetCartItems().Count() == 0)
                                    {
                                        <tr>
                                            <th colspan="5" style="text-align:center">Your cart is empty</th>
                                        </tr>
                                    }
                                    @foreach (var item in cart_Service.GetCartItems().OrderBy(x => x.Item.Name))
                                    {
                                        <tr>
                                            <td>
                                                @if (item.Item.Picture != null)
                                                {
                                                    var base64 = Convert.ToBase64String(inArray: item.Item.Picture);
                                                    var imgSrc = string.Format(format: "data:image/gif;base64,{0}", arg0: base64);
                                                    <img src=@imgSrc width="30" height="30" />
                                                }
                                            </td>
                                            <td>
                                                <a href="@Url.Action("Details","Items", new { id=item.Item.ItemCode })">@item.Item.Name</a>
                                            </td>
                                            <td style="text-align:center">
                                                @item.quantity
                                            </td>
                                            <td>
                                                @item.Item.Price.ToString("C")
                                            </td>
                                            <td style="text-align:center">
                                                @{ var subtotal = item.quantity * item.Item.Price;
                                                    total += subtotal; }
                                                @subtotal.ToString("C")
                                            </td>
                                        </tr>
                                    }
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td style="text-align:center">
                                            Total
                                        </td>
                                        <th style="text-align:center">
                                            @total.ToString("C")
                                        </th>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>
                                            <a class="btn btn-default" href="@Url.Action("Index","Shopping")">
                                                <i class="fa fa-list"></i> Shop More
                                            </a>
                                        </td>
                                        <td>
                                            <a class="btn btn-default" href="@Url.Action("ShoppingCart", "Shopping")">
                                                <i class="fa fa-shopping-cart"></i> View Cart
                                            </a>
                                        </td>
                                        <td>
                                            @if (cart_Service.GetCartItems().Count() == 0)
                                            {
                                                <a class="btn btn-default disabled" href="@Url.Action("Checkout","Shopping")">
                                                    <i class="fa fa-lock"></i> Checkout
                                                </a> }
                                            else
                                            {
                                                <a class="btn btn-default" href="@Url.Action("Checkout","Shopping")">
                                                    <i class="fa fa-lock"></i> Checkout
                                                </a>}
                                        </td>
                                    </tr>
                                </table>
                            </ul>
                        </ul>
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div style=" margin-bottom:5%"></div>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @{ Html.RenderPartial("_Toastr"); }
</body>
</html>
