﻿
@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
               
                @Html.ActionLink(User.Identity.Name + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" }) &nbsp;
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a> &nbsp;</li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <text id="Greeting"></text>
        <a href="@Url.Action("Register", "Account")" class="nav item active nav-link">Register</a>
        <a href="@Url.Action("Login", "Account")" class="nav item active nav-link">Login</a>
       
    </ul>
}
