﻿@model WebAppSiyakha.Models.Item

@{
    ViewBag.Title = "Add Item";
    //Layout = "~/Views/Shared/_AdminLayout.cshtml";

}

<div class="kt-portlet">
    <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">
                Adding Items
            </h3>
        </div>
    </div>
    @using (Html.BeginForm(actionName: "Create", controllerName: "Items", routeValues: null, method: FormMethod.Post, htmlAttributes: new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="kt-portlet__body">
            <div class="form-group row">
                <div class="form-group">
                    <div class="col-lg-6">
                        <label> Name:</label>
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Name" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })

                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-6">
                        <label class="">Category:</label>
                        @Html.DropDownList("Department_ID", null, "--- Please Select ---", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Department_ID, "", new { @class = "text-danger" })

                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-6">
                        <label class="">Supplier :</label>
                        @Html.DropDownList("SupplierId", null, "--- Please Select ---", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.SupplierId, "", new { @class = "text-danger" })

                    </div>
                    </div>
                </div>
            <div class="form-group row">
                <div class="form-group">
                    <div class="col-lg-6">
                        <label>Description:</label>
                        <div class="kt-input-icon">
                            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", @placeholder = "Description" } })
                            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                            <span class="kt-input-icon__icon kt-input-icon__icon--right"><span><i class="la la-map-marker"></i></span></span>
                        </div>
                    </div>

                </div>
                <div class="form-group">
                    <div class="col-lg-6">
                        <label>Quantiy In Stock:</label>
                        <div class="kt-input-icon">
                            @Html.EditorFor(model => model.QuantityInStock, new { htmlAttributes = new { @class = "form-control", @placeholder = "Quantity In Stock" } })
                            @Html.ValidationMessageFor(model => model.QuantityInStock, "", new { @class = "text-danger" })
                            <span class="kt-input-icon__icon kt-input-icon__icon--right"><span><i class="la la-map-marker"></i></span></span>
                        </div>

                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-6">
                        <label class="">Sale Price R:</label>



                        <div class="kt-input-icon">
                            @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control", @placeholder = "0.00" } })
                            <span class="kt-input-icon__icon kt-input-icon__icon--right"><span><i class="la la-bookmark-o"></i></span></span>
                        </div>

                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-6">
                        <label class="">Cost Price R:</label>



                        <div class="kt-input-icon">
                            @Html.EditorFor(model => model.CostPrice, new { htmlAttributes = new { @class = "form-control", @placeholder = "0.00" } })
                            <span class="kt-input-icon__icon kt-input-icon__icon--right"><span><i class="la la-bookmark-o"></i></span></span>
                        </div>

                    </div>
                    </div>
                   
                <div class="form-group">
                    <div class="col-md-4">
                        <label class="">Picture</label>

                        <img id="image_preview" src="~/Content/Images/Vehicle.png" alt="" height="200" width="500" style="border: 5px solid #ccc" />
                  
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-file-picture-o"></i>
                        </div>
                        <input type="file" name="img_upload" id="img_upload" accept=".jpeg,.jpg,.png" onchange="readURL(this);" class="form-control" required="required" />
                    </div>
                </div>
                </div>
                        <br />
                        <br />

                        <div class="kt-portlet__foot">
                            <div class="kt-form__actions">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <button type="submit" class="btn btn-primary">Add</button>
                                        <a type="reset" href="@Url.Action("Index",controllerName : "Items")" class="btn btn-secondary">Cancel</a>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="kt-portlet__foot">
                            <div class="kt-form__actions">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <br />
                                        <br />
                                        <br />
                                        <br />
                                        <br />
                                        <br />
                                        <br />
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
    }
</div>
<script type="text/javascript">
    //image preview
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#image_preview')
                    .attr('src', e.target.result)
                    .width(450)
                    .height(300);

            };

            reader.readAsDataURL(input.files[0]);
        }
    }
</script>


