﻿@model WebAppSiyakha.Models.Item
@{
    ViewBag.Title = "Edit Item Details";
    //Layout = "~/Views/Shared/_AdminLayout.cshtml";

}
<h2 class="title text-center">@ViewBag.Title</h2>
@using (Html.BeginForm(actionName: "Edit", controllerName: "Items", routeValues: null, method: FormMethod.Post, htmlAttributes: new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()


    <div class="row">
        <div class="col-md-4">
            <table>
                <tr>
                    <th width="80px">@Html.LabelFor(model => model.ItemCode)</th>
                    <td>
                        @Html.EditorFor(model => model.ItemCode, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.ItemCode, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <th width="80px">@Html.LabelFor(model => model.Name)</th>
                    <td>
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Name" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <th>@Html.LabelFor(model => model.Department_ID)</th>
                    <td>
                        @Html.DropDownList("Department_ID", null, "--- Please Select ---", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Department_ID, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <th>@Html.LabelFor(model => model.Description)</th>
                    <td>
                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", @placeholder = "Description" } })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <th width="80px">@Html.LabelFor(model => model.QuantityInStock)</th>
                    <td>
                        @Html.EditorFor(model => model.QuantityInStock, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.QuantityInStock, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <th>@Html.LabelFor(model => model.Price)</th>
                    <td width="180px">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <b>R</b>
                            </div>
                            @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control", @placeholder = "0.00" } })
                            @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>@Html.LabelFor(model => model.CostPrice)</th>
                    <td width="180px">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <b>R</b>
                            </div>
                            @Html.EditorFor(model => model.CostPrice, new { htmlAttributes = new { @class = "form-control", @placeholder = "0.00" } })
                            @Html.ValidationMessageFor(model => model.CostPrice, "", new { @class = "text-danger" })
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>@Html.LabelFor(model => model.Picture)</th>
                    <td>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-file-picture-o"></i>
                            </div>


                            <div class="">
                                <img id="image_preview" src="~/Content/Images/@Model.ImgPath" alt="" height="200" width="500" style="border: 5px solid #ccc" />
                                <div class="row">
                                    <label>      &nbsp;&nbsp<strong> Upload New</strong> </label> <input type="file" name="img_upload" accept=".jpeg,.jpg,.png" onchange="readURL(this);" class="form-control" />
                                </div>
                            </div>



                        </div>
                    </td>
                </tr>

            </table>
        </div>

        @*<div class="col-md-6">
                <img id="image_preview" src="#" alt="" style="border: 5px solid #ccc" />
            </div>*@
    </div>
    <hr />
    <div class="kt-portlet__foot">
        <div class="kt-form__actions">
            <div class="row">
                <div class="col-lg-6">
                    <button type="submit" class="btn btn-primary">Add</button>
                    <a type="reset" href="@Url.Action("Index",controllerName : "Departments")" class="btn btn-secondary">Cancel</a>

                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="kt-portlet__foot">
        <div class="kt-form__actions">
            <div class="row">
                <div class="col-lg-6">
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                </div>

            </div>
        </div>
    </div>

}

<script type="text/javascript">
    //image preview
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#image_preview')
                    .attr('src', e.target.result)
                    .width(300)
                    .height(300);

            };

            reader.readAsDataURL(input.files[0]);
        }
    }
</script>